@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AppearanceModel
@{


}
<style>
    .theme1 {
        background-color: #ffffff;
        color: black;
    }

    .theme2 {
        background-color: #f2f2f2;
        color: black;
    }

    .theme3 {
        background-color: #d9d9d9;
        color: black;
    }

    .theme4 {
        background-color: #bfbfbf;
        color: black;
    }

    .theme5 {
        background-color: #a6a6a6;
        color: black;
    }

    .theme6 {
        background-color: #3b5998;
        color: white;
    }

    .theme6 .socials {
        color: white;
    }
    .theme7 {
        background-color: #00acee;
        color:white;
    }
    .theme7 .socials {
            color: white;
    }

    .theme8 {
        background-color: #0077B5;
        color: white;
    }

    .theme8 .socials {
        color: white;
    }


    .theme9 {
        background-color: #1DA1F2;
        color:white;

    }

    .theme9 .socials {
        color: white;
    }

    .theme10 {
        background-color: #FF0000;
        color:white;
    }

    .theme10 .socials {
        color: white;
    }
</style>
<div class=" @Model?.theme.SelectedTheme container bg-white w-full min-h-screen flex flex-col items-center">
    <div class=" w-[600px] h-full p-10 flex flex-col items-center">
        @if (Model?.User?.ProfileImage != null)
        {
            <div class="overflow-hidden rounded-full">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.User?.ProfileImage)" class="w-24 h-24 object-cover" />
            </div>
        }
        else
        {
            <div class="bg-gray-800 w-24 h-24 rounded-full text-white flex items-center justify-center text-4xl">
                @Model?.FirstName?[0]
            </div>
        }
        <h1>@@@Model?.User.Username</h1>
        <h1 class="italic">@Model?.User.Bio</h1>
        <div class="flex gap-2 items-center mt-4 @Model?.theme.SelectedTheme">
            @foreach (var social in Model?.Socials)
            {
                <div class=" flex items-center">
                    @if(social.SocialType == 1)
                    {
                        <a target="_blank" href="https://www.facebook.com/@social.emailsocial" class="flex-1 flex">
                            <svg class="socials w-7 h-7 text-gray-800 cursor-pointer rounded-full hover:border-2 border-gray-800" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2.04c-5.5 0-10 4.49-10 10.02c0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89c1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02" /></svg>
                           
                        </a>
                    }
                    @if (social.SocialType == 2)
                    {
                        <a target="_blank" href="https://www.tiktok.com/@social.emailsocial" class="flex-1 flex">
                            <svg class="socials w-7 h-7 text-gray-800 cursor-pointer rounded-full hover:border-2 border-gray-800" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.278 4.278 0 0 1 15.54 3h-3.09v12.4a2.592 2.592 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48" /></svg>
                          
                        </a>
                    }
                    @if (social.SocialType == 3)
                    {
                        <a target="_blank" href="https://x.com/@social.emailsocial" class="flex-1 flex">
                            <svg class="socials w-7 h-7 text-gray-800 cursor-pointer rounded-full hover:border-2 border-gray-800"  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23" /></svg>

                        </a>
                    }
                    @if (social.SocialType == 4)
                    {
                        <a target="_blank" href="https://github.com/@social.emailsocial" class="flex-1 flex">
                            <svg class="socials w-7 h-7 text-gray-800 cursor-pointer rounded-full hover:border-2 border-gray-800" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2" /></svg>

                        </a>
                    }
                    @if (social.SocialType == 5)
                    {
                        <a target="_blank" href="https://www.instagram.com/@social.emailsocial" class="flex-1 flex">
                            <svg class="socials w-7 h-7 text-gray-800 cursor-pointer rounded-full hover:border-2 border-gray-800"  xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3" /></svg>

                        </a>
                    }

                </div>
            }
        </div>
        <div class="self-start">
            <button id="postClick" class="bg-slate-200 text-black p-2 rounded-md text-sm">Posts</button>
            <button id="pageClick" class="bg-slate-400 text-white p-2 rounded-md text-sm">Pages</button>
        </div>

        <div id="posts" class="flex flex-col gap-3 items-start w-full mt-4">
            @foreach (var post in Model.posts)
            {
                <div class="w-full post bg-white rounded-md p-4 border flex items-start">
                    @if (post.Image != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(post.Image)" class="h-[100px] w-[100px] rounded-md mr-4" />
                    }
                    <div class="flex-1">
                        <p class="text-gray-700">@post.Content</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

 <script>

                        $(document).ready(function () {
                            const posts = $("#posts")
                            $("#postClick").click(function () {
                                posts.removeClass("hidden");
                                posts.addClass("flex");
                            })
                                $("#pageClick").click(function () {
                                    posts.removeClass("flex");
                                    posts.addClass("hidden");
                                })
                        })

 </script>