@model UserModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <nav class="mt-10 z-10 sticky inset-0 top-4 w-[95%] sm:w-[90%] mx-auto bg-gray-700 text-medium text-white flex justify-between gap-4 items-center rounded-full text-sm h-14 p-10 overflow-hidden max-w-4xl">
        <div class="flex gap-4">
            <a href="/">Flexify</a>
            <ul class="flex items-center gap-4">
                <li><a href="/app">Home</a></li>
                <li><a href="/home">Appearance</a></li>
            </ul> 
        </div>
        <div class="flex gap-2  items-center">
            <span>
                <i class="fa-solid fa-gear "></i>
                <a href="/app/account">Settings</a>
            </span>
            <span>
                <i class="fa-solid fa-right-from-bracket "></i>
                <a href="/auth/logout">Logout</a>
            </span>
        </div>
    </nav>

    <div class="max-w-4xl gap-10 mx-auto flex flex-col justify-center mt-10">
        <div class="bg-white shadow-sm w-full border p-5 flex flex-col gap-3 items-center bg-white rounded-lg">
            <h1 class="font-medium">Lifetime Analytics</h1>
            <ul class="flex items-center gap-4">
                <li class="flex items-center gap-1 text-sm">
                    <div class="h-2 w-2 bg-green-500 rounded-full text-green-500"></div>
                    <span>Views: 21 </span>
                </li>
                 <li class="flex items-center gap-1 text-sm">
                    <div class="h-2 w-2 bg-orange-500 rounded-full text-green-500"></div>
                    <span>Clicks: 104 </span>
                </li>
                <li class="flex items-center gap-1 text-sm">
                    <div class="h-2 w-2 bg-blue-500 rounded-full text-green-500"></div>
                    <span>Links: 5</span>
                </li>
            </ul>
        </div>
        <section class="w-full flex flex-col gap-4 items-start self-start ">
            <h1 class="font-medium">Top Performing Links</h1>
            <div class="bg-white rounded-md p-5 border flex flex-col gap-4 w-full">
                <div class="flex justify-between text-sm text-slate-600">
                    <label></label>
                    <span>Clicks</span>
                </div>
                <div class="justify-between flex items-center text-sm">
                    <label>About Page</label>
                    <span>500</span>
                </div>
                <div class="justify-between flex items-center text-sm">
                    <label>Contact</label>
                    <span>235</span>
                </div>
                <div class="justify-between flex items-center text-sm">
                    <label>My Games</label>
                    <span>340</span>
                </div>
                <div class="justify-between flex items-center text-sm">
                    <label>Tiktok Shop</label>
                    <span>500</span>
                </div>
                <div class="justify-between flex items-center text-sm">
                    <label>Shopee Shop</label>
                    <span>500</span>
                </div>
            </div>
        </section>
    </div>
</div>
